<div id="sales-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Article Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">Completed</th>
          </tr>
          </thead>
          <tbody>
          <tr (click)="onRowClick(i)" *ngFor="let order of orders; let i = index"
              [ngClass]="{'table-info': order.id === activeOrder.id}">
            <td>{{order.id}}</td>
            <td>{{order.articleId}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.completed}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h5>Edit Order</h5>
        <form (ngSubmit)="onSave()" [formGroup]="form">
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="id">Number:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="activeOrder.id" class="form-control-plaintext" formControlName="id" id="id" readonly type="text"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="articleId">Article Number:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="activeOrder.articleId" class="form-control" formControlName="articleId" id="articleId" type="text"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="quantity">quantity:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="activeOrder.quantity" class="form-control" formControlName="quantity" id="quantity" type="text"/>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label" for="completed">Completed:</label>
            <div class="col-sm-9">
              <input [(ngModel)]="activeOrder.completed" class="form-check-input" formControlName="completed" id="completed"
                     type="checkbox"/>
            </div>
          </div>
          <div class="form-group mt-3">
            <button class="btn btn-primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
